@charset "UTF-8";
// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "public-home";
@import "utils";
@import "product";

html,
body {
    overflow-x: hidden;
}
/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev,
.slick-next {
    background: #007e33;
    background-size: 100%, 100%;
    width: 45px;
    height: 90px;
    font-size: 0;
    border: none;
    position: absolute;
    top: 50%;
    z-index: 5;
    transform: translateY(-45px);
    outline: none;
    cursor: pointer;
    &:hover,
    &:focus {
        outline: none;
        background: #00c851;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &:before {
        display: block;
        position: absolute;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 20px;
        color: white;
    }
}

.slick-prev {
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    left: 0;
}

.slick-next {
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    right: 0;
}

.slick-prev::before {
    content: $slick-prev-character;
    right: 60%;
    transform: translateX(+50%);
}

.slick-next::before {
    content: $slick-next-character;
    left: 60%;
    transform: translateX(-50%);
}
