.card {
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 15px 15px 15px 15px;
    max-width: 18rem;
}

.slick-slide .card {
    display: block !important;
}

.img-logo {
    position: left;
    height: 40px;
    width: 45px;
}

.card-title {
    min-height: 54px;
}