.items .card,
.paginate .card {
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 15px 15px 15px 15px;
    max-width: 18rem;
}

.paginate-button nav {
    background-color: transparent;
}

.slick-slide .card {
    display: block !important;
}

.img-logo {
    position: left;
    height: 70px;
    width: 70px;
}

.card-title {
    min-height: 54px;
}

.index-title {
    padding-top: 40px;
    padding-left: 40px;
}